@page
@model AdministrationRazorPagesApp.Pages.Weapon.DisplayListModel
@{
    ViewData["Title"] = "DisplayList";
}

<h1>Weapons</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Type</th>
            <th>Magical Value</th>
            <th>Owner</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var weapon in Model.Weapons)
        {
            <tr>
                <td>@weapon.Typ</td>
                <td>@weapon.MagicalValue</td>
                <td>@weapon.CitizenId</td>
                <td>
                    <a asp-page="./DisplayById" asp-route-id="@weapon.Id" class="btn btn-dark">Update</a>
                </td>                
                <td>
                    <a asp-page="./Delete" asp-route-id="@weapon.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>